# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# Environment variables
*.env
.env.*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pyright type checker
pyrightconfig.json

# FastAPI specific
instance/
*.db
*.sqlite3

# Uvicorn log
*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyproject.toml build system
__pypackages__/

# Mac and Linux system files
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
*.bak
*.swp

# Editors
.idea/
*.sublime-project
*.sublime-workspace

mongo*
mongo.py